In [31]:
import pandas as pd
import numpy as np

### 1) Обоснование данных

In [17]:
data = pd.read_csv('PassengerSatisfaction.csv', index_col=0)
data.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

<p>Этот набор данных содержит опрос удовлетворенности авиапассажиров.<br>
Он позволяется нам проанализировать уровень комфорта авиакомпаний. <br>
Мы можем собрать статистику полетов и на её основании понять, в чем заключается комфорт человека в самолете.<br>
Эти знания помогут эффективней вкладывать деньги авиакомпаний и привлекать больше авиапассажиров.<br>
Можно задать много интересных вопросов по поводу эти данных, например: <br> -какой возраст,пол или класс полета чаще всего остается неудовлетворенным, <br>
-насколько сильно задержка рейса влияет на общее мнение о компании.<br>
Но самый главный вопрос:<br>
-Какие факторы связаны с удовлетворенным (или неудовлетворенным) пассажиром?</p>
Поэтому этот набор данных является очень полезным для авиакомпаний.

### 2) Элементарные статистики

<p>Посмотрим какой тип данных хранится в каждом признаке</p>

In [53]:
data.dtypes

id                                     int64
Gender                                object
Customer Type                         object
Age                                    int64
Type of Travel                        object
Class                                 object
Flight Distance                        int64
Inflight wifi service                  int64
Departure/Arrival time convenient      int64
Ease of Online booking                 int64
Gate location                          int64
Food and drink                         int64
Online boarding                        int64
Seat comfort                           int64
Inflight entertainment                 int64
On-board service                       int64
Leg room service                       int64
Baggage handling                       int64
Checkin service                        int64
Inflight service                       int64
Cleanliness                            int64
Departure Delay in Minutes             int64
Arrival Delay in Minutes             float64
satisfaction                          object
dtype: object

<p>Посмотрим нет ли пропущенных значений</p>

In [29]:
data.isnull().sum()

id                                     0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

<p>Удаляем пропущенные значения</p>

In [47]:
data = data.dropna()
data.isnull().sum()

id                                   0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Inflight wifi service                0
Departure/Arrival time convenient    0
Ease of Online booking               0
Gate location                        0
Food and drink                       0
Online boarding                      0
Seat comfort                         0
Inflight entertainment               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Inflight service                     0
Cleanliness                          0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
satisfaction                         0
dtype: int64

<p>Найдем категориальные и числовые признаки (часть индивидуального задания)</p>

In [70]:
columns_numeric = data.select_dtypes(include=['float64', 'int64']).columns
columns_categorical = data.select_dtypes(include='object').columns

<p>Максимум</p>

In [79]:
data[columns_numeric].max()

id                                   129880.0
Age                                      85.0
Flight Distance                        4983.0
Inflight wifi service                     5.0
Departure/Arrival time convenient         5.0
Ease of Online booking                    5.0
Gate location                             5.0
Food and drink                            5.0
Online boarding                           5.0
Seat comfort                              5.0
Inflight entertainment                    5.0
On-board service                          5.0
Leg room service                          5.0
Baggage handling                          5.0
Checkin service                           5.0
Inflight service                          5.0
Cleanliness                               5.0
Departure Delay in Minutes             1592.0
Arrival Delay in Minutes               1584.0
dtype: float64

<p>Минимум</p>

In [81]:
data[columns_numeric].min()

id                                    1.0
Age                                   7.0
Flight Distance                      31.0
Inflight wifi service                 0.0
Departure/Arrival time convenient     0.0
Ease of Online booking                0.0
Gate location                         0.0
Food and drink                        0.0
Online boarding                       0.0
Seat comfort                          0.0
Inflight entertainment                0.0
On-board service                      0.0
Leg room service                      0.0
Baggage handling                      1.0
Checkin service                       0.0
Inflight service                      0.0
Cleanliness                           0.0
Departure Delay in Minutes            0.0
Arrival Delay in Minutes              0.0
dtype: float64

<p>Среднее значение</p>

In [82]:
data[columns_numeric].mean()

id                                   64942.428625
Age                                     39.380466
Flight Distance                       1189.325202
Inflight wifi service                    2.729753
Departure/Arrival time convenient        3.060081
Ease of Online booking                   2.756984
Gate location                            2.977026
Food and drink                           3.202126
Online boarding                          3.250497
Seat comfort                             3.439765
Inflight entertainment                   3.358341
On-board service                         3.382609
Leg room service                         3.351401
Baggage handling                         3.631687
Checkin service                          3.304323
Inflight service                         3.640761
Cleanliness                              3.286397
Departure Delay in Minutes              14.747939
Arrival Delay in Minutes                15.178678
dtype: float64

<p>Медиана</p>

In [84]:
data[columns_numeric].median()

id                                   64890.0
Age                                     40.0
Flight Distance                        842.0
Inflight wifi service                    3.0
Departure/Arrival time convenient        3.0
Ease of Online booking                   3.0
Gate location                            3.0
Food and drink                           3.0
Online boarding                          3.0
Seat comfort                             4.0
Inflight entertainment                   4.0
On-board service                         4.0
Leg room service                         4.0
Baggage handling                         4.0
Checkin service                          3.0
Inflight service                         4.0
Cleanliness                              3.0
Departure Delay in Minutes               0.0
Arrival Delay in Minutes                 0.0
dtype: float64

<p>Standard deviation</p>

In [85]:
data[columns_numeric].std()

id                                   37460.816597
Age                                     15.113125
Flight Distance                        997.297235
Inflight wifi service                    1.327866
Departure/Arrival time convenient        1.525233
Ease of Online booking                   1.398934
Gate location                            1.277723
Food and drink                           1.329401
Online boarding                          1.349433
Seat comfort                             1.318896
Inflight entertainment                   1.333030
On-board service                         1.288284
Leg room service                         1.315409
Baggage handling                         1.181051
Checkin service                          1.265396
Inflight service                         1.175603
Cleanliness                              1.312194
Departure Delay in Minutes              38.116737
Arrival Delay in Minutes                38.698682
dtype: float64

<p>Также в pandas есть вспомогательная функция, с помощью которой можно одной строчкой подсчитать элементарные статистики</p>

In [87]:
data.describe(include='all')

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
count,103594.000000,103594,103594,103594.000000,103594,103594,103594.000000,103594.000000,103594.000000,103594.000000,...,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594.000000,103594
unique,NaN,2,2,NaN,2,3,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,Female,Loyal Customer,NaN,Business travel,Business,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral or dissatisfied
freq,NaN,52576,84662,NaN,71465,49533,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58697
mean,64942.428625,NaN,NaN,39.380466,NaN,NaN,1189.325202,2.729753,3.060081,2.756984,...,3.358341,3.382609,3.351401,3.631687,3.304323,3.640761,3.286397,14.747939,15.178678,NaN
std,37460.816597,NaN,NaN,15.113125,NaN,NaN,997.297235,1.327866,1.525233,1.398934,...,1.333030,1.288284,1.315409,1.181051,1.265396,1.175603,1.312194,38.116737,38.698682,NaN
min,1.000000,NaN,NaN,7.000000,NaN,NaN,31.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,32562.250000,NaN,NaN,27.000000,NaN,NaN,414.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000,NaN
50%,64890.000000,NaN,NaN,40.000000,NaN,NaN,842.000000,3.000000,3.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000,NaN
75%,97370.500000,NaN,NaN,51.000000,NaN,NaN,1743.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000,NaN
max,129880.000000,NaN,NaN,85.000000,NaN,NaN,4983.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000,NaN

### 3) Распределение категориальных данных

In [102]:
for col_categorical in columns_categorical:
    print(f'{data[col_categorical].value_counts()}\n')

Female    52576
Male      51018
Name: Gender, dtype: int64

Loyal Customer       84662
disloyal Customer    18932
Name: Customer Type, dtype: int64

Business travel    71465
Personal Travel    32129
Name: Type of Travel, dtype: int64

Business    49533
Eco         46593
Eco Plus     7468
Name: Class, dtype: int64

neutral or dissatisfied    58697
satisfied                  44897
Name: satisfaction, dtype: int64